@import "tailwindcss";

html {
  background-color: white;
}

html.dark {
  background-color: #111827; /* gray-900 */
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body {
  transition: background-color 0.3s ease;
}

/* Calendar dark mode support */
.dark .react-calendar {
  background-color: #111827;
  color: white;
  border-radius: 8px;
}

.dark .react-calendar__tile {
  color: white;
}

.dark .react-calendar__tile--active {
  background: #2563eb;
  color: white;
}

.dark .react-calendar__navigation button {
  color: white;
}
/* Highlight dates with tasks */
.task-date {
  background: #2563eb !important; /* blue-600 */
  color: white !important;
  border-radius: 50%;
}

/* Dark mode support */
.dark .task-date {
  background: #3b82f6 !important; /* blue-500 */
}
