@import "tailwindcss";

html {
  background-color: white;
}

html.dark {
  background-color: #111827; /* gray-900 */
}

/** {
  transition: background-color 0.3s ease, color 0.3s ease;
}*/
body {
  transition: background-color 0.3s ease;
}

