/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import "tailwindcss";

html {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #111827; /* gray-900 */
  color: white;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
